<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Mi App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/realtimeproducts">Productos</a>
        </li>
            <li class="nav-item">
          <a class="nav-link" href="/usuarios">Usuarios</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        {{#if user}}
          <li class="nav-item">
            <a class="nav-link" href="/profile">Hola, {{user.name}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/usuarios/logout">Cerrar sesión</a>
          </li>
        {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/usuarios/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/usuarios/registro">Registro</a>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>